@font-face {
    font-family: "BYekan";
    src: url("assets/fonts/BYekan.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "BYekan";
    src: url("assets/fonts/BYekan-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-Italic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto-BlackItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin: 0;
    /* background: #f5f5f5; */
    background: url("assets/images/coding-man.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.backdrop {
    display: none;
    position: fixed;
    cursor: pointer;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #00000080;
    z-index: 150;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.backdrop--opened {
    display: block;
    opacity: 1;
}

.header {
    width: 100%;
    min-width: 20rem;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F8BB00;
    padding: 0.5rem 1rem 0.5rem 4rem;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px 0 #2020208a;
    z-index: 100;
}

.buttons-container {
    display: flex;
    align-items: center;
}

.toggle-button {
    position: fixed;
    top: 0.5rem;
    left: 1rem;
    width: 2.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 250;
}

.toggle-button__bar {
    display: block;
    width: 100%;
    height: 0.2rem;
    background: #fff;
    margin: 0.5rem 0;
    transition: all 0.5s ease;
}

.toggle-button--close .toggle-button__bar {
    position: absolute;
    top: 0.5rem;
    background: #000;
}

.toggle-button--close .toggle-button__bar:first-child {
    transform: rotateZ(45deg);
}

.toggle-button--close .toggle-button__bar:nth-child(2) {
    width: 0;
}

.toggle-button--close .toggle-button__bar:last-child {
    transform: rotateZ(-45deg);
}

.toggle-theme {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 50px;
    background: #3b3939; 
    /* background: #00c3ff; */
    padding: 0 0.5rem;
    /* margin-left: 0.5rem; */
    font-size: 1.2rem;
}

.toggle-theme,
.toggle-language {
    border: 2px solid #fff;
    transition: border-color 0.4s ease;
}

.toggle-theme:hover,
.toggle-theme:active {
    border-color: #c03e27;
}

.toggle-theme__option--light-mode {
    color: #fcbf49;
}

.toggle-theme__option--dark-mode {
    color: #fff;
}

.toggle-theme__circle {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    background: #2bff00;
    border-radius: inherit;
    border: 2px solid #3b3939;
}

.toggle-language {
    border-radius: 10px;
    padding: 0rem 0.5rem;
    background: #3b3939;
    color: #fff;
    width: 4rem;
    height: 2rem;
    text-align: center;
    font-family: "BYekan";
    font-weight: 300;
}

.toggle-language__option {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
    transition: color 0.2s ease;
}

.toggle-language__option:hover,
.toggle-language__option:active {
    color: #F8BB00;
}

.toggle-language span {
    vertical-align: middle;
}

.menu-nav {
    position: fixed;
    left: 0;
    top: 0;
    align-items: center;
    display: none;
    width: 0;
    height: 100vh;
    background: #F8BB00;
    z-index: 200;
    transition: width 0.5s ease-out;
    overflow: hidden;
}

.menu-nav--opened {
    display: flex;
    width: 13.5rem;
}

.menu-nav ul {
    min-width: 100%;
    margin-top: 3.5rem;
    padding: 0;
    flex-shrink: 0;
}

.menu-nav__item {
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;
    transition: all 0.2s ease;
}

.menu-nav__item:hover,
.menu-nav__item:active {
    background: #DBE8D8;
}

.menu-nav__item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    color: #000000;
}

.menu-nav__item a:hover,
.menu-nav__item a:active {
    color: black;
}

.menu-nav__item .item__logo {
    font-size: 1.5rem;
}

.menu-nav__item .item__title {
    margin-left: 0.5rem;
}

.footer {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    background: #F8BB00;
}

.footer__nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footer__nav ul li {
    list-style: none;
    margin: 0 1rem;
    padding: 0;
}

.footer__link {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    text-decoration: none;
    transition: all 0.5s ease;
    color: #F4E6D5;
}

.footer__link:hover,
.footer__link:active {
    transform: rotateZ(360deg);
    background: #c1121f;
}

.footer__link span {
    font-size: 2rem;
}