.introduction {
    background: #00ccff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    width: 100%;
    min-width: 20rem;
    height: calc(100vh - 3.5rem);
    min-height: 29rem;
}

.introduction__wrapper {
    width: 60%;
    min-width: 12.5rem;
    min-height: 20rem;
    background: #ffffffab;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introduction__photo {
    background: url("./assets/images/mypic.jpg");
    background-size: cover;
    background-position: center;
    width: 9rem;
    height: 9rem;
    border: 5px solid #F8BB00;
    border-radius: 50%;
}

.introduction__title {
    font-weight: 600;
    color: #3d3d3d;
}

.introduction__description {
    font-size: 1.2rem;
}

.about-me {
    width: 100%;
    height: calc(100vh - 3.5rem);
    display: flex;
    justify-content: center;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
}

.about-me__wrapper {
    overflow: auto;
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    width: 75%;
    /* min-width: 21.5rem; */
    max-height: 100vh;
    border-radius: 0.4rem;
    box-shadow: 0 2px 5px 0 #2020208a;
    background: white;
}

.about-me__line {
    width: 6rem;
    height: 0.2rem;
    background: red;
}

.about-me__description {
    font-weight: 500;
    color: #3d3d3d;
}

.about-me__description span {
    color: red;
    font-weight: 500;
}