.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url("assets/images/coding-man.jpg") center/cover;
    z-index: -2;
}

.introduction {
    margin-top: 3.5rem;
    height: calc(100vh - 3.5rem);
}

.wrapper {
    width: 75%;
    min-width: 18.5rem;
    max-width: 45rem;
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    box-shadow: 0 2px 5px 0 rgba(32, 32, 32, 0.541);
    background: var(--wrappers-background);
}

.wrapper--introduction {
    min-width: 15rem;
    max-width: 32rem;
    padding: 1.5rem 0;
    background: var(--intro-wrapper-background);
    flex-direction: column;
    text-align: center;
}

.introduction__photo {
    background: url("./assets/images/mypic.jpg");
    background-size: cover;
    background-position: center;
    width: 9rem;
    height: 9rem;
    border: 5px solid #f8bb00;
    border-radius: 50%;
}

.introduction__title {
    font-weight: 600;
    color: var(--title-text);
}

.introduction__description {
    font-size: 1.2rem;
}

section {
    width: 100%;
    min-height: calc(100vh - 3.5rem);
}

section:not(.introduction) > .wrapper {
    opacity: 0;
    transform: translateX(-3rem);
    transition: opacity 1s ease, transform 1s ease;
}

section > .wrapper.fade-in {
    opacity: 1;
    transform: translateX(0);
}

.about-me {
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
}

.header__title {
    text-align: center;
    color: var(--text-primary);
}

.header__line {
    text-align: center;
    width: 9.5rem;
    height: 0.2rem;
    background: var(--header__line);
    margin: 0 auto;
}

.about-me__description {
    font-weight: 500;
    color: var(--text-primary);
    text-align: justify;
}

.about-me__description span {
    color: var(--wrappers-line);
    font-weight: 600;
}

.education {
    text-align: center;
}

.wrapper--education {
    min-width: 13rem;
}

.education__item {
    margin: 2rem 0;
    flex-direction: column;
}

.education__item .item__prefix {
    height: 1.5rem;
}

.education__item .item__pointer {
    display: none;
    width: 2rem;
    height: 0.5rem;
}

.education__item .item__circle {
    width: 25%;
    height: 100%;
    border-radius: 50%;
    background: var(--education-item-prefix);
}

.education__item .item__line {
    width: 75%;
    height: 30%;
    background: var(--education-item-prefix);
}

.education__item .item__logo {
    line-height: 0;
    font-size: 2rem;
    margin: 0 0.5rem;
    color: var(--education-logo-color);
}

.education__item .item__info {
    margin-top: 1rem;
    padding: 0;
    list-style: none;
    line-height: 1.5rem;
    font-weight: 500;
}

.education__item .item__title {
    color: var(--education-item-title);
}

.education__item .item__title h3 {
    margin: 0;
}

.education__item .item__date {
    color: var(--education-item-date);
}

.education__item .item__degree {
    color: var(--education-item-degree);
}

.education__item .item__place {
    color: var(--education-item-place);
}

.education__item .item__location {
    color: var(--education-item-location);
}

.skills__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.skill {
    flex-direction: column;
    padding: 0.5rem 0;
    margin: 0.2rem 0;
    width: 100%;
}

.skill__bar {
    width: 100%;
    height: 1rem;
    background: var(--skillbar-background);
    border-radius: 1rem;
}

.skill__fill {
    background: var(--red-color);
    width: 0;
    height: 100%;
    border-radius: inherit;
    transition: width 4s ease;
}

#html .skill__fill--loading {
    width: 95%;
}

#css .skill__fill--loading {
    width: 85%;
}

#javascript .skill__fill--loading {
    width: 63%;
}

#responsive .skill__fill--loading {
    width: 70%;
}

#jQuery .skill__fill--loading {
    width: 70%;
}

#bootstrap .skill__fill--loading {
    width: 50%;
}

#sass .skill__fill--loading {
    width: 75%;
}

#git .skill__fill--loading {
    width: 65%;
}

#cpp .skill__fill--loading {
    width: 70%;
}

#java .skill__fill--loading {
    width: 63%;
}

.certificate {
    margin: 2rem 0;
}

.certificate__image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.contact-me__form {
    display: grid;
    grid-row-gap: 1rem;
    margin: 2rem 0;
}

.contact-me__form * {
    display: block;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0.5rem;
    border: 1px solid #a1a1a1;
    border-radius: 0.5rem;
    transition: all 0.5s ease;
}

.contact-me__form *:focus {
    outline: none;
    box-shadow: 0 0 0 5px var(--form-input-focus-shadow);
    background: var(--form-input-focus);
    border-color: var(--form-input-focus);
}

.contact-me__form textarea {
    resize: none;
}

.contact-me__form button {
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    background: var(--red-color);
    color: #fff;
    transition: width 0.5s ease;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.contact-me__form button:hover {
    width: 12rem;
} 

.introduction,
.wrapper--introduction,
.about-me,
.education,
.education__item .item__prefix,
.education__item,
.skills,
.skill,
.certificates,
.contact-me {
    display: flex;
}

.introduction,
.wrapper--introduction,
.about-me,
.education,
.skills,
.education__item,
.certificates,
.contact-me {
    justify-content: center;
    align-items: center;
}

.education__item .item__prefix,
.education__item .item__pointer {
    align-items: center;
}

@media screen and (min-width:888px) {
    .header__title {
        text-align: start;
    }
    .header__line {
        width: 7rem;
        margin: 0;
    }
    .education__item {
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;
    }
    .education__item .item__pointer {
        display: flex;
    }
    .education__item .item__info {
        margin: 0;
        flex: 1 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 5px;
    }
    .education__item .item__date,
    .education__item .item__place {
        grid-column-start: 3;
    }
    .education__item .item__location {
        grid-column-start: 2;
    }
}