.introduction {
    background: #00ccff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
    width: 100%;
    min-width: 20rem;
    height: calc(100vh - 3.5rem);
    min-height: 29rem;
}

.introduction__wrapper {
    width: 60%;
    min-width: 12.5rem;
    min-height: 20rem;
    background: #ffffffab;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introduction__photo {
    background: url("./assets/images/mypic.jpg");
    background-size: cover;
    background-position: center;
    width: 9rem;
    height: 9rem;
    border: 5px solid #F8BB00;
    border-radius: 50%;
}

.introduction__title {
    font-weight: 600;
    color: #3d3d3d;
}

.introduction__description {
    font-size: 1.2rem;
}

.about-me {
    width: 100%;
    height: calc(100vh - 3.5rem);
    display: flex;
    justify-content: center;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
}

.about-me__wrapper {
    overflow: auto;
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    width: 75%;
    /* min-width: 21.5rem; */
    max-height: 100vh;
    border-radius: 0.4rem;
    box-shadow: 0 2px 5px 0 #2020208a;
    background: white;
}

.about-me__line {
    width: 6rem;
    height: 0.2rem;
    background: red;
}

.about-me__description {
    font-weight: 500;
    color: #3d3d3d;
}

.about-me__description span {
    color: red;
    font-weight: 600;
}

.education {
    width: 100%;
    height: calc(100vh - 3.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fefae0;
    /* letter-spacing: 0.1rem;
    line-height: 2.5rem; */
}

.education__wrapper {
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    width: 75%;
    box-shadow: 0 2px 5px 0 #2020208a;
    background: white;
}

.education__line {
    width: 6rem;
    height: 0.2rem;
    background: red;
}

.education__item {
    margin: 2rem 0;
    display: flex;
}

.education__item .item__prefix {
    display: flex;
    align-items: center;
    height: 1.5rem;
}

.education__item .item__pointer {
    display: flex;
    align-items: center;
    width: 2rem;
    height: 0.5rem;
}

.education__item .item__circle {
    width: 25%;
    height: 100%;
    border-radius: 50%;
    background: green;
}

.education__item .item__line {
    width: 75%;
    height: 30%;
    background: green;
}

.education__item .item__logo {
    line-height: 0;
    font-size: 2rem;
    margin: 0 0.5rem;
}

.education__item .item__info {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5rem;
}

.education__item .item__title h3 {
    margin: 0;
}

.education__item .item__date {
    color: green;
}

.education__item .item__degree {
    font-weight: 500;
}

.education__item .item__place {
    color: red;
    font-weight: 500;
}

.skills {
    width: 100%;
    height: calc(100vh - 3.5rem);
    display: flex;
    justify-content: center;
    background: #a8dadc;
}

.skills__wrapper {
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    width: 75%;
    overflow: auto;
    border-radius: 0.4rem;
    box-shadow: 0 2px 5px 0 #2020208a;
    background: white;
}

.skills__line {
    width: 6rem;
    height: 0.2rem;
    background: red;
}

.skills__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.skill {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
    margin: 0.2rem 0;
    width: 100%;
}

.skill__bar {
    width: 100%;
    height: 1rem;
    background: #a8dadc;
    border-radius: 1rem;
}

.skill__fill {
    background: #e63946;
    height: 100%;
    border-radius: inherit;
}

#html .skill__fill {
    width: 95%;
}

#css .skill__fill {
    width: 85%;
}

#javascript .skill__fill {
    width: 63%;
}

#responsive .skill__fill {
    width: 70%;
}

#jQuery .skill__fill {
    width: 70%;
}

#bootstrap .skill__fill {
    width: 50%;
}

#sass .skill__fill {
    width: 75%;
}

#git .skill__fill {
    width: 65%;
}

#cpp .skill__fill {
    width: 70%;
}

#java .skill__fill {
    width: 63%;
}

.certificates {
    width: 100%;
    min-height: calc(100vh - 3.5rem);
    display: flex;
    justify-content: center;
    background: #d4e09b;
}

.certificates__wrapper {
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    width: 75%;
    /* max-height: 100%; */
    box-shadow: 0 2px 5px 0 #2020208a;
    background: #f6f4d2;
}

/* .certificates__header {
    height: 15%;
} */

.certificates__line {
    width: 6rem;
    height: 0.2rem;
    background: red;
}

.certificate {
    margin: 2rem 0;
    /* height: calc(100% - 1rem - 15% - 4rem); */
}

.certificate__image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.contact-me {
    width: 100%;
    min-height: calc(100vh - 3.5rem);
    display: flex;
    justify-content: center;
    background: #ff9f1c;
}

.contact-me__wrapper {
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    width: 75%;
    box-shadow: 0 2px 5px 0 #2020208a;
    background: white;
}

.contact-me__line {
    width: 6rem;
    height: 0.2rem;
    background: red;
}

.contact-me__form {
    display: grid;
    grid-row-gap: 1rem;
    margin: 2rem 0;
}

.contact-me__form * {
    display: block;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 0.5rem;
    border: 1px solid #a1a1a1;
    border-radius: 0.5rem;
    transition: all 0.5s ease;
}

.contact-me__form *:focus {
    outline: none;
    box-shadow: 0 0 0 5px #2ec4b6;
    background: #fdf0d5;
    border-color: #fdf0d5;
}

.contact-me__form textarea {
    resize: none;
}

.contact-me__form button {
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    background: #c1121f;
    color: white;
    transition: width 0.5s ease;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.contact-me__form button:hover {
    width: 12rem;
} 